In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
#USA refugee
usa = "USA_cleaned_final.csv"
can = "can_cleaned_final.csv"
usa_df = pd.read_csv(usa)
can_df=pd.read_csv(can)

In [4]:
#Display data frame
usa_df.head()

   Year      Country of residence       Origin  Refugees  Total Population
0  2000  United States of America  Afghanistan    4322.0              4643
1  2000  United States of America      Albania    3549.0              5295
2  2000  United States of America      Algeria     846.0              1001
3  2000  United States of America      Andorra       1.0                 2
4  2000  United States of America       Angola     134.0               177

In [5]:
#Display data frame
can_df.head()

   Year Country of residence               Origin  Refugees  Total Population
0  2000               Canada          Afghanistan    9115.0              9423
1  2000               Canada              Albania     625.0              1220
2  2000               Canada              Algeria    2600.0              2948
3  2000               Canada               Angola     140.0               729
4  2000               Canada  Antigua and Barbuda       NaN                 6

In [20]:
# Merge two dataframes using an inner join
merge_table = pd.merge(usa_df, can_df, on=["Origin","Year"])
merge_table

,Year,Country of residence_x,Origin,Refugees_x,Total Population_x,Country of residence_y,Refugees_y,Total Population_y
0,2000,United States of America,Afghanistan,4322.0,4643,Canada,9115.0,9423
1,2000,United States of America,Albania,3549.0,5295,Canada,625.0,1220
2,2000,United States of America,Algeria,846.0,1001,Canada,2600.0,2948
3,2000,United States of America,Angola,134.0,177,Canada,140.0,729
4,2000,United States of America,Antigua and Barbuda,1.0,3,Canada,NaN,6
5,2000,United States of America,Argentina,36.0,253,Canada,87.0,1424
6,2000,United States of America,Armenia,2806.0,4492,Canada,94.0,147
7,2000,United States of America,Austria,1.0,2,Canada,19.0,19
8,2000,United States of America,Azerbaijan,1379.0,1678,Canada,102.0,297
9,2000,United States of America,Bahamas,1.0,8,Canada,NaN,2
10,2000,United States of America,Bahrain,12.0,25,Canada,6.0,8
11,2000,United States of America,Bangladesh,1396.0,2609,Canada,2007.0,2404
12,2000,United States of America,Barbados,2.0,3,Canada,5.0,13
13,2000,United States of America,Belarus,2245.0,2357,Canada,36.0,127
14,2000,United States of America,Belgium,4.0,24,Canada,10.0,10
15,2000,United States of America,Belize,7.0,21,Canada,NaN,1
16,2000,United States of America,Benin,13.0,19,Canada,6.0,11
17,2000,United States of America,Bhutan,2.0,8,Canada,6.0,8
18,2000,United States of America,Bolivia (Plurinational State of),38.0,93,Canada,28.0,82
19,2000,United States of America,Bosnia and Herzegovina,106410.0,106497,Canada,15494.0,15531
20,2000,United States of America,Botswana,NaN,1,Canada,3.0,4
21,2000,United States of America,Brazil,173.0,746,Canada,32.0,87
22,2000,United States of America,Bulgaria,649.0,1249,Canada,588.0,852
23,2000,United States of America,Burkina Faso,30.0,44,Canada,19.0,30
24,2000,United States of America,Burundi,797.0,879,Canada,890.0,1026
25,2000,United States of America,Cabo Verde,1.0,14,Canada,1.0,1
26,2000,United States of America,Cambodia,458.0,644,Canada,64.0,70
27,2000,United States of America,Cameroon,1376.0,1816,Canada,139.0,226
28,2000,United States of America,Central African Rep.,7.0,11,Canada,13.0,16
29,2000,United States of America,Chad,156.0,171,Canada,295.0,376
...,...,...,...,...,...,...,...,...
2747,2015,United States of America,Spain,11.0,35,Canada,25.0,33
2748,2015,United States of America,Sri Lanka,1313.0,2308,Canada,8807.0,8966
2749,2015,United States of America,Stateless,703.0,703,Canada,1503.0,1627
2750,2015,United States of America,Sudan,1362.0,1885,Canada,509.0,568
2751,2015,United States of America,Suriname,11.0,22,Canada,8.0,8
2752,2015,United States of America,Swaziland,1.0,6,Canada,134.0,134
2753,2015,United States of America,Sweden,8.0,12,Canada,3.0,6
2754,2015,United States of America,Switzerland,4.0,5,Canada,11.0,11
2755,2015,United States of America,Syrian Arab Rep.,5651.0,8769,Canada,1513.0,1748
2756,2015,United States of America,Tajikistan,250.0,475,Canada,53.0,58
2757,2015,United States of America,Thailand,26.0,412,Canada,33.0,42
2758,2015,United States of America,The former Yugoslav Republic of Macedonia,147.0,237,Canada,92.0,93
2759,2015,United States of America,Togo,883.0,1110,Canada,188.0,207
2760,2015,United States of America,Trinidad and Tobago,62.0,217,Canada,243.0,255
2761,2015,United States of America,Tunisia,44.0,128,Canada,199.0,225
2762,2015,United States of America,Turkey,418.0,753,Canada,1991.0,2239
2763,2015,United States of America,Turkmenistan,221.0,326,Canada,18.0,18
2764,2015,United States of America,Uganda,1231.0,2081,Canada,713.0,767
2765,2015,United States of America,Ukraine,1486.0,5345,Canada,1314.0,1550
2766,2015,United States of America,United Arab Emirates,42.0,93,Canada,29.0,32
2767,2015,United States of America,United Kingdom,44.0,126,Canada,60.0,60
2768,2015,United States of America,United Rep. of Tanzania,146.0,257,Canada,257.0,282
2769,2015,United States of America,Uruguay,6.0,58,Canada,73.0,74
2770,2015,United States of America,Uzbekistan,1431.0,2421,Canada,271.0,296
2771,2015,United States of America,Various/Unknown,2903.0,5369,Canada,88.0,8494
2772,2015,United States of America,Venezuela (Bolivarian Republic of),6193.0,17338,Canada,729.0,902
2773,2015,United States of America,Viet Nam,266.0,479,Canada,114.0,118
2774,2015,United States of America,Yemen,457.0,1118,Canada,215.0,296
2775,2015,United States of America,Zambia,54.0,79,Canada,48.0,50
2776,2015,United States of America,Zimbabwe,1316.0,1577,Canada,2368.0,2411

In [27]:
merge_table = merge_table.iloc[:,[0,2,4,7]]


merge_table.head()

   Year               Origin  Total Population_x  Total Population_y
0  2000          Afghanistan                4643                9423
1  2000              Albania                5295                1220
2  2000              Algeria                1001                2948
3  2000               Angola                 177                 729
4  2000  Antigua and Barbuda                   3                   6

In [28]:
merge_table= merge_table.rename(columns={"Total Population_x": 'USA',
                                "Total Population_y": 'CAN'
                                })
merge_table.head()

   Year               Origin   USA   CAN
0  2000          Afghanistan  4643  9423
1  2000              Albania  5295  1220
2  2000              Algeria  1001  2948
3  2000               Angola   177   729
4  2000  Antigua and Barbuda     3     6